@model StockManager.Models.ProductViewModel

@{
    ViewData["Title"] = "Eliminar producto";
}

<h1>Eliminar producto</h1>

<h3>¿Estás seguro de que querés eliminar este producto?</h3>

<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Precio</dt>
        <dd class="col-sm-10">@Model.Price</dd>

        <dt class="col-sm-2">Stock Actual</dt>
        <dd class="col-sm-10">@Model.CurrentStock</dd>

        <dt class="col-sm-2">Stock mínimo</dt>
        <dd class="col-sm-10">@Model.MinimumStock</dd>

        <dt class="col-sm-2">Categoría</dt>
        <dd class="col-sm-10">@Model.CategoryPath</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>