@model IEnumerable<StockManager.Models.ProductViewModel>

@{
    ViewData["Title"] = "Productos";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.CurrentStock)</th>
            <th>@Html.DisplayNameFor(model => model.MinimumStock)</th>
            <th>Categorías</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.CurrentStock)</td>
                <td>@Html.DisplayFor(modelItem => item.MinimumStock)</td>
                <td>@item.CategoryPath</td>
                <td>
                    <a asp-controller="StockMovements" asp-action="Create" asp-route-productId="@item.Id" class="btn btn-sm btn-outline-primary">
                        + / -
                    </a>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>